<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
<div class="menu">
    <h1>All users</h1>
    <a id='btn-update'href="/users/create-users">Create user</a>
</div>   
    

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Pasword</td>
        <td>Modificar</td>
        <td>Eliminar</td>
    </tr>
   <%users.forEach((user) => {  %>
        <tr>
            <td><%=user.id%></td>
            <td><%=user.name%></td>
            <td><%=user.email%></td>
            <td><%=user.password%></td>
            <td><a id='btn-update' href="/users/update-users/<%=user.id%>">Update</a></td>
            <td><a id='btn-delete' href="/users/delete-users/<%=user.id%>">Delete</a></td>
        </tr>
             <% }) %>

</table>  
</body>
</html>