<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/createform.css">
    <title>Create-concerts</title>
</head>
<body>
<div class="container">
    <div class="header">
    <h1>Update concert</h1>
    
 </div>  
    <form action="/concerts/update-concert/<%= concerts[0]['id'] %>" method="POST">
        <label for="name">Concert</label>
        <input type="text" name="concert" placeholder="Concert" id="concert" value="<%= concerts[0]['concert'] %>">
        <label for="email">Artist</label>
        <input type="text" name="artist" placeholder="Artist" id="concert"value="<%= concerts[0]['artist'] %>">
        <label for="password">Place</label>
        <input type="text" name="place" placeholder="Place" id="place" value="<%= concerts[0]['place'] %>">
        <label for="text">Date</label>
        <input type="text" name="date" placeholder="date" id="date" value="<%= concerts[0]['date'] %>">
        <label for="password">Price</label>
        <input type="text" name="price" placeholder="Price" id="price" value="<%= concerts[0]['price'] %>">
        <input id = 'btn-update'type="submit" value="Update">
        <a id='btn-create'href="/concerts/all-concerts">All concerts</a>

    </form>
    </div>
</body>
</html>